.section-search{
    height: 20%;
}

.section-search input{
    padding: 4px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: 3px solid #f4f4f4 !important;
}

.slides .caption {
    position: relative;
    top: 30% !important;
}